In [44]:
import pandas as pd
import numpy as np
import string
import matplotlib.pyplot as plt
import os

## Merge Review Tables

In [45]:
review_fold = "./Scraper/ReviewScraper/"
tables_fold = review_fold + "tables/"
files = os.listdir(tables_fold)
files = [f for f in files if ".csv" in f]

In [46]:
tables = []
for f in files:
    tab = pd.read_csv(tables_fold + f)
    comp = f.split("_")[0].lower()
    tab['company'] = [comp] * len(tab)
    tables.append(tab)

In [47]:
# merge tables
merge_table = pd.concat(tables, ignore_index=True, sort=False)
# drop duplicates
merge_table = merge_table.drop_duplicates()
merge_table = merge_table.reset_index(drop=True)

In [48]:
print("Total samples in merged table: {}".format(len(merge_table)))

Total samples in merged table: 6066

In [49]:
merge_table.head()

,date,employee_title,location,employee_status,review_title,years_at_company,helpful,pros,cons,advice_to_mgmt,rating_overall,rating_balance,rating_culture,rating_career,rating_comp,rating_mgmt,company
0,Sat Nov 02 2019 17:40:06 GMT-0700 (Pacific Day...,Software Engineer,"San Francisco, CA",Current Employee,Good company,I have been working at Dropbox full-time for l...,NaN,"Good food(the best part), good environment,",Product is not competitive\nManagement needs s...,NaN,5.0,5.0,5.0,5.0,5.0,5.0,dropbox
1,Mon Sep 23 2019 20:40:55 GMT-0700 (Pacific Day...,Account Executive,"Austin, TX",Current Employee,Great place to work,I have been working at Dropbox full-time for m...,NaN,In-house chefs serving premium breakfast/lunch...,no cons specific to Dropbox,NaN,5.0,5.0,5.0,5.0,5.0,5.0,dropbox
2,Mon Oct 14 2019 14:08:26 GMT-0700 (Pacific Day...,Research,"San Francisco, CA",Current Employee,Avoid this place,I have been working at Dropbox full-time for l...,7.0,1. Food; hands down best food in tech. \n2. We...,"1. Poor leadership; director+ are indecisive, ...",Hire more experienced industry leaders.,1.0,1.0,1.0,1.0,2.0,1.0,dropbox
3,Fri Sep 13 2019 10:19:38 GMT-0700 (Pacific Day...,Manager,NaN,Former Employee,great place to work,I worked at Dropbox full-time for less than a ...,NaN,"everything, culture, benefit, people, work lif...",growing company comes with growing pain.,NaN,5.0,5.0,5.0,4.0,5.0,5.0,dropbox
4,Tue Sep 10 2019 15:34:52 GMT-0700 (Pacific Day...,Senior Software Engineer,"San Francisco, CA",Current Employee,Great place to work and be creative,I have been working at Dropbox full-time for l...,NaN,"Really appreciates you as an employee. Perks, ...",Management is young and inexperienced. It show...,NaN,5.0,5.0,5.0,4.0,5.0,3.0,dropbox

In [51]:
merge_table.to_csv(review_fold + "reviews_merged.csv")

## Merge Salary Tables for full time and Intern

In [162]:
salary_fold = "./Scraper/SalaryScraper/"
tables_fold = salary_fold + "tables/"
files = os.listdir(tables_fold)
files = [f for f in files if ".csv" in f]

In [163]:
tables = []
for f in files:
    tab = pd.read_csv(tables_fold + f)
    comp = f.split("-")[0].lower()
    tab['company'] = [comp] * len(tab)
    tables.append(tab)
    
# merge tables
merge_table = pd.concat(tables, ignore_index=True, sort=False)
# drop duplicates
merge_table = merge_table.drop_duplicates()
merge_table = merge_table.reset_index(drop=True)

print("Total samples in merged table: {}".format(len(merge_table)))

Total samples in merged table: 7829

In [164]:
def check_for_full_time(row):
    x, y = row['jobTitle'], row['meanPay']
    keywords = ["Hourly", "Hour", "Intern", "/hr", "Internship"]
    for k in keywords:
        if k in x or k in y:
            return False
        
    return True

In [165]:
merge_table['fullTime'] = merge_table.apply(check_for_full_time, axis=1)

In [166]:
merge_table_intern = merge_table[~merge_table['fullTime']]
merge_table = merge_table[merge_table['fullTime']]

merge_table.drop(['fullTime'], axis=1, inplace=True)
merge_table_intern.drop(['fullTime'], axis=1, inplace=True)

In [167]:
print("Total samples in merged table for full-time: {}".format(len(merge_table)))
print("Total samples in merged table for intern: {}".format(len(merge_table_intern)))

Total samples in merged table for full-time: 6346
Total samples in merged table for intern: 1483

In [173]:
merge_table.to_csv(salary_fold + "fulltime_merged_salaries_company_table.csv")

In [174]:
merge_table_intern.to_csv(salary_fold + "intern_merged_salaries_company_table.csv")

## Create category label

In [175]:
blah = pd.read_csv('./Scraper/SalaryScraper/intern_merged_salaries_company_table.csv')

In [176]:
len(blah)

6346